InsaneJourney.XmlFileRepository/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="garage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vehicles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vehicle" maxOccurs="unbounded" minOccurs="0" type="vehicle"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    </xs:element>
  

  <xs:complexType name="vehicle">
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element name="fuelConsumptions" type="fuelConsumptions"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:unsignedShort" name="seats" use="required"/>
  </xs:complexType>

  
  <xs:complexType name="fuelConsumptions">
    <xs:sequence maxOccurs="unbounded" minOccurs="1">
      <xs:element name="fuelConsumption" type="fuelConsumption"/>
    </xs:sequence>
  </xs:complexType>


    <xs:complexType name="fuelConsumption">
      <xs:simpleContent>
        <xs:extension base="unsignedDecimal">
          <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>


  <xs:simpleType name="unsignedDecimal">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>